@import 'fonts';
// ----------MAIN----------
$mainBgColor: #fff;
$mainBgColorDark: #161926;
$mainFontFamily: 'Lato', sans-serif;
$mainFontSize: 18px;
$mainTextColor: #262a3f;
$mainTextColorDark: #fff;
$mainBlockColorFade: #ffffffb8;
$mainBlockColorDarkFade: #161926b5;
// --------SUBTEXT--------
$subtextFontWeight: 300;
// --------TITLES---------
$titleFontFamily: 'Playfair Display', sans-serif;
$titleEmFontColor: #85BBB1;
$titleEmFontColorDark : #689FF2;
$titleEmFontStyle: italic;
// --------BUTTONS---------
$btnColor:#F1897B;
$btnColorHover: #E54F3A;
$btnColorDark: #53F3CD;
$btnColorHoverDark: #02E0AB;
// --------PSEUDOELEMS---------
$pseudoColor: #E4E4E4;
$pseudoColorDark: #515773;