@import 'reset', 'vars', 'temps', 'mixins';

html,
body {
    background: $mainBgColor;
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
    color: $mainTextColor;
}

// TOGGLE DARK MODE
#mode__toggler {
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 50%;
    appearance: none;
    width: 80px;
    height: 40px;
    background: black;
    border-radius: 22px;
    cursor: pointer;
}

/* styling the circle inside the checkbox input */
#mode__toggler::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    background-color: white;
    border-radius: 35px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}

/* Switching to the dark when the checkbox is toggled */
#mode__toggler:checked+.mode {
    & .header {
        background: url('../source/img/bg/bg_1_dark.png') no-repeat;
        background-size: cover;
        background-color: $mainBgColorDark;
        color: $mainTextColorDark;
    }

    & .blue {
        color: $titleEmFontColorDark;
    }

    & .btn {
        color: $btnColorDark;
        &::after {
            background: $btnColorDark;
        }
        &:hover {
            color: $btnColorHoverDark;
    
            &::after {
                background: $btnColorHoverDark;
                opacity: 0.4;
            }
        }
    }
}

/* moving the checkbox circle when it's toggled by the user */
#mode__toggler:checked::before {
    left: 40px;
}

/* changing the color of the checkbox when it's toggled */
#mode__toggler:checked {
    background: #241da6;
}



.header {
    position: relative;
    background: url('../source/img/bg/bg_1.png');
    background-size: cover;
    min-height: 1028px;
    padding-top: 30px;


    &__container {
        @extend %flex;
        padding: 24px calc(50% - 1170px/2);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(4.5px);
        margin: 0 auto 150px;


        .nav {
            &__burger {
                display: none;
            }

            &__burger-img {
                display: none;
            }

            .menu {
                @extend %flex;
                gap: 1.95vw;
                transition: all 0.6s;


                &__item {
                    position: relative;

                    @media (max-width: 992px) {
                        padding: 20px 10px;
                        text-align: center;
                    }

                }

                &__link {
                    font-family: $mainFontFamily;
                    color: $mainTextColor;
                    font-size: 0.77rem;


                    &:hover {
                        cursor: pointer;

                        &::after {
                            // @include createLine;
                        }
                    }

                    @media (max-width: 992px) {
                        &:hover {
                            cursor: pointer;
                            color: #530003;

                            &::after {
                                // @include createLine;
                                bottom: 5px;
                            }
                        }
                    }

                }
            }
        }


    }

    &__logo {
        @extend %flex;
        width: 120px;
        height: 32px;
    }

    &__info {
        @extend %flex;
        padding: 24px calc(50% - 1170px/2);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 60%;
    }
}



.title {
    font-family: $titleFontFamily;
    font-size: 2.44rem;
    z-index: 1;
    line-height: 2.88rem;
}

.text {
    line-height: 1.44rem;
    z-index: 1;
}

.blue {
    color: $titleEmFontColor;
    font-style: $titleEmFontStyle;
}

.btn {
    background: none;
    position: relative;
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $btnColor;
    z-index: 1;

    &::after {
        position: absolute;
        content: '';
        background: $btnColor;
        width: 100%;
        height: 13px;
        opacity: 0.3;
        top: 50%;
        left: 10%;
    }

    &:hover {
        cursor: pointer;
        color: $btnColorHover;

        &::after {
            background: $btnColorHover;
            opacity: 0.4;
        }
    }
}