@import 'reset', 'vars', 'temps', 'mixins';

//-------------GENERAL----------------
html,
body {
    background: $mainBgColor;
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
    color: $mainTextColor;
}

.title {
    font-family: $titleFontFamily;
    z-index: 2;
    font-size: 2.44rem;
    line-height: 2.88rem;

    @media (max-width: 768px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (max-width: 568px) {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

.text {
    font-family: $mainFontFamily;
    color: $mainTextColor;
    font-weight: 300;
    line-height: 1.44rem;
    z-index: 2;
    opacity: 0.8;

    @media (max-width: 768px) {
        font-size: 1.2rem;
        line-height: 1rem;
    }

    @media (max-width: 568px) {
        font-size: 1rem;
    }

    @media (max-width: 568px) {
        font-size: 0.75rem;
    }

    &__quote {
        position: relative;
        opacity: 1;
        font-size: 1.77rem;
        line-height: 2.55rem;
        color: $mainTextColorDark;
        margin-bottom: 40px;

        &::after {
            content: "";
            width: 102px;
            height: 84px;
            position: absolute;
            background: url("../source/img/icon_quote.svg");
            top: -35px;
            left: -42px;

            @media (max-width: 568px) {
                transform: scale(0.75);
                left: -22px;
            }
        }
    }

    &__author {
        font-family: $titleFontFamily;
        color: $mainTextColorDark;
        font-style: italic;
        font-size: 1rem;
    }
}

.blue {
    color: $titleEmFontColor;
    font-style: $titleEmFontStyle;
}

.big {
    z-index: 2;
    position: relative;
    font-family: $titleFontFamily;
    color: $mainTextColor;
    font-size: 3.77rem;
    padding: 10px;


    @media (max-width: 1024px) {
        padding: 0;
    }

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }

    @media (max-width: 568px) {
        font-size: 1.7rem;
    }

    @media (max-width: 340px) {
        padding: 5px;
        font-size: 1.3rem;
    }
}

.btn {
    background: none;
    position: relative;
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $btnColor;
    transition: all 0.3s ease;
    z-index: 2;

    &::after {
        position: absolute;
        content: '';
        background: $btnColor;
        width: 100%;
        height: 13px;
        opacity: 0.3;
        top: 50%;
        left: 10%;
    }

    &:hover {
        cursor: pointer;
        color: $btnColorHover;

        &::after {
            background: $btnColorHover;
            opacity: 0.4;
        }
    }
}

.hidden {
    display: none;
}
//-------------DARK MODE TOGGLER----------------
#mode__toggler {
    z-index: 3;
    position: absolute;
    top: 50px;
    right: 50%;
    appearance: none;
    width: 80px;
    height: 40px;
    background: $mainBgColorDark;
    border-radius: 22px;
    cursor: pointer;
    transform: scale(0.75);

    @media (max-width: 1170px) {
        right: 53vw;
        top: 42px;
    }

    @media (max-width: 768px) {
        right: 25vw;
    }

    @media (max-width: 568px) {
        right: 35vw;
    }

    @media (max-width: 340px) {
        right: 20vh;
    }

    &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 35px;
        background-color: white;
        border-radius: 35px;
        top: 2px;
        left: 2px;
        cursor: pointer;
        transition: .3s linear;
    }

    &:checked+.mode {
        & .header {
            background-color: $mainBgColorDark;
            background-image: linear-gradient(200.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%), url('../source/img/bg/bg_1_dark.png');
            color: $mainTextColorDark;

            @media (max-width: 1024px) {
                background-image: linear-gradient(200.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%), url('../source/img/bg/bg_tablet_dark.png');
            }

            @media (max-width: 568px) {
                background-image: linear-gradient(200.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%), url('../source/img/bg/bg_mob_dark.png');
            }

            @media (max-width: 340px) {
                background-image: linear-gradient(200.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%), url('../source/img/bg/bg_mob_sm_dark.png');
            }

            & .nav {
                & .menu {
                    &__link {
                        color: $mainTextColorDark;
                    }
                }
            }
        }

        & .title {
            color: $mainTextColorDark;
        }

        & .text {
            color: $mainTextColorDark;

            &.text__quote {
                &::after {
                    background: url("../source/img/icon_quote_dark.svg")
                }
            }

        }

        & .blue {
            color: $titleEmFontColorDark;
        }

        & .btn {
            color: $btnColorDark;

            &::after {
                background: $btnColorDark;
            }

            &:hover {
                color: $btnColorHoverDark;

                &::after {
                    background: $btnColorHoverDark;
                    opacity: 0.6;
                }
            }
        }

        & .section__overflow {

            &_left,
            &_right {
                background-color: $mainBlockColorDarkFade;
            }
        }

        & .section__quad {
            & .text__block {
                &::before {
                    background: $pseudoColorDark;
                }
            }
        }

        & .section__video {
            &_block {
                border: 1px solid $pseudoColorDark;

                &::before,
                &::after {
                    border: 1px solid $pseudoColorDark;
                }
            }
        }

        .big {
            color: $mainTextColorDark;

            &::before {
                background: url("../source/img/icon_dark.svg");
            }
        }

        .main {
            background-color: $mainBgColorDark;
        }
    }

    &:checked::before {
        left: 40px;
    }

    &:checked {
        background: #a7a5c8;
    }
}
//-------------HEADER----------------
.header {
    position: relative;
    background-image: linear-gradient(200.11deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%), url('../source/img/bg/bg_1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 30px;
    min-height: 1080px;
    z-index: 2;

    @media (max-width: 1024px) {
        background: linear-gradient(200.11deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%), url('../source/img/bg/bg_tablet.png') no-repeat;
    }

    @media (max-width: 568px) {
        background: linear-gradient(200.11deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%), url('../source/img/bg/bg_mob.png') no-repeat;
    }

    @media (max-width: 340px) {
        background: linear-gradient(200.11deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%), url('../source/img/bg/bg_mob_sm.png') no-repeat;
    }

    &__container {
        @extend %flex;
        margin: 0 auto 150px auto;
        padding: 24px calc(50% - 1170px/2);
        background: linear-gradient(270deg, #ffffff80 0%, #ffffff3e 24.1%, #ffffff00 47.19%), #ffffff05;
        backdrop-filter: blur(4.5px);

        @media (max-width: 1170px) {
            padding: 15px calc(50% - 1024px/2);
        }

        @media (max-width: 1024px) {
            padding: 15px calc(50% - 768px/2);
        }

        @media (max-width: 768px) {
            padding: 15px calc(50% - 568px/2);
        }

        @media (max-width: 568px) {
            margin: 0 auto 30px;
            padding: 15px calc(50% - 340px/2);
        }

        @media (max-width: 340px) {
            padding: 15px calc(50% - 300px/2);
        }

        .nav {
            &__burger {
                display: none;

                @media (max-width: 768px) {
                    &:checked~.menu {
                        top: 100%;
                        right: 0;
                        transition: all 0.4s ease;
                    }

                    &:checked~.nav__burger-img {
                        transform: rotate(45deg);
                        transition: transform .8s ease;

                        &::before {
                            visibility: hidden;
                        }

                        &::after {
                            transform: rotate(90deg);
                            top: 0;
                        }
                    }
                }
            }

            &__burger-img {
                display: none;

                @media (max-width: 768px) {
                    position: relative;
                    display: inline-block;
                    width: 32px;
                    height: 3px;
                    background: #000;
                    top: 0;
                    right: 5vw;
                    vertical-align: middle;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: 100%;
                        height: 3px;
                        background: #000;
                        top: 8px;
                    }

                    &::after {
                        top: -8px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .menu {
                @extend %flex;
                gap: 1.95vw;
                transition: all 0.6s;

                @media (max-width: 768px) {
                    position: absolute;
                    flex-direction: column;
                    width: 30%;
                    top: 100%;
                    right: 100%;
                    gap: 15px;
                    background: rgb(170, 143, 143);
                    opacity: 0.9;
                    backdrop-filter: blur(3px);
                }

                &__item {
                    position: relative;

                    // @media (max-width: 998px) {
                    //     padding: 20px 10px;
                    //     text-align: center;

                    // }

                }

                &__link {
                    font-family: $mainFontFamily;
                    color: $mainTextColor;
                    font-size: 0.77rem;

                    &:hover {
                        cursor: pointer;

                        &::after {
                            // @include createLine;
                        }
                    }

                    // @media (max-width: 998px) {
                    //     &:hover {
                    //         cursor: pointer;
                    //         color: #530003;

                    //         &::after {
                    //             // @include createLine;
                    //             bottom: 5px;
                    //         }
                    //     }
                    // }

                }
            }
        }

    }

    &__logo {
        @extend %flex;
        width: 120px;
        height: 32px;
    }

}

//-------------MAIN----------------
.main {
    margin: 0 auto;
    top: 0;
    width: 100%;
    position: absolute;
    padding: 250px calc(50% - 1170px/2);

    @media (max-width: 1170px) {
        padding: 250px calc(50% - 1024px/2);
    }

    @media (max-width: 1024px) {
        padding: 250px calc(50% - 768px/2);
    }

    @media (max-width: 768px) {
        padding: 200px calc(50% - 568px/2);
    }

    @media (max-width: 568px) {
        margin: 0 auto 30px;
        padding: 150px calc(50% - 340px/2);
    }

    @media (max-width: 340px) {
        padding: 100px calc(50% - 300px/2);
    }

    .section {
        margin-bottom: 120px;

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }

        @media (max-width: 340px) {
            margin-bottom: 25px;
        }

        &__info {
            @extend %flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            max-width: 50%;

            @media (max-width: 340px) {
                max-width: 75%;
            }
        }

        &__overflow {
            z-index: 2;
            @extend %flex;
            position: relative;
            width: 100%;
            background: url('../source/img/main/stat_img.png') no-repeat left center;
            min-height: 670px;

            &_content {
                @extend %flex;
                position: absolute;
                justify-content: flex-end;
                width: 100%;
            }

            &_left {
                @extend %flex;
                flex-direction: column;
                align-items: center;
                background: #ffffffb8;
                padding: 19px;
                gap: 80px;

                @media (max-width: 1024px) {
                    padding: 48px;
                }

                @media (max-width: 768px) {
                    padding: 25px 5px;
                }

                @media (max-width: 568px) {
                    padding: 126px 10px;
                }


                & .overflow__el {
                    @extend %flex;
                    position: relative;
                    flex-direction: column;
                    text-align: center;
                    gap: 5px;
                    padding: 5px;

                    &:nth-of-type(1)::before,
                    &:nth-of-type(2)::before {
                        content: "";
                        position: absolute;
                        background: url("../source/img/icon.svg");
                        width: 18px;
                        height: 40px;
                        top: 42px;
                        left: -10px;

                        @media (max-width: 1024px) {
                            top: 32px;
                            left: -15px;
                        }

                        @media (max-width: 768px) {
                            transform: scale(0.75);
                            top: 32px;
                            left: 0;
                        }

                        @media (max-width: 568px) {
                            transform: scale(0.5);
                            top: 5px;
                            left: -9px;
                        }
                    }

                    &:nth-of-type(1)::after,
                    &:nth-of-type(2)::after {
                        content: "";
                        position: absolute;
                        width: 100px;
                        height: 1px;
                        background: $titleEmFontColorDark;
                        bottom: -40px;
                        left: 50%;
                        transform: translateX(-50%);

                        @media (max-width: 340px) {
                            width: 70px;
                        }
                    }
                }
            }

            &_right {
                @extend %flex;
                background: #ffffffb8;
                flex-direction: column;
                align-items: flex-start;
                max-width: 400px;
                gap: 40px;
                padding: 45px;

                @media (max-width: 568px) {
                    padding: 52px;
                }

                @media (max-width: 340px) {
                    padding: 120px 5px;
                }
            }
        }

        &__quad {
            @extend %flex;
            flex-wrap: wrap;
            gap: 30px;

            & .text__block {
                @extend %flex;
                position: relative;
                align-items: flex-start;
                flex-direction: column;
                justify-content: start;
                gap: 30px;
                max-width: 570px;
                min-height: 300px;
                padding: 20px 35px 50px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: $pseudoColor;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    @media (max-width: 768px) {
                        top: -10px;
                    }
                }

                @media (max-width: 1170px) {
                    max-width: max-content;
                    min-height: fit-content;
                    gap: 5px;
                    padding: 20px;
                }

                @media (max-width: 768px) {
                    gap: 20px;
                    padding: 0;
                }
            }
        }

        &__quote {
            padding: 17.5% 25% 25% 8%;
            background: url("../source/img/bg/bg_quote.png")no-repeat center;
            background-size: cover;
            max-height: 600px;

            @media (max-width: 768px) {
                padding-right: 15%;
            }

            @media (max-width: 340px) {
                padding-right: 5%;
            }
        }

        &__video {
            & .video {
                padding: 30px 70px 30px 30px;
                width: 100%;
                max-height: 540px;

                @media (max-width: 768px) {
                    max-height: 320px;
                    padding: 15px 50px 15px 30px;
                }

                @media (max-width: 568px) {
                    max-height: 180px;
                    padding: 15px 30px 15px 20px;
                }

                @media (max-width: 340px) {
                    max-height: 140px;
                    padding: 15px 15px 15px 20px;
                }
            }

            &_block {
                position: relative;
                border: 1px solid $pseudoColor;
                border-radius: 32px;
                margin-bottom: 50px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 1%;
                    transform: translateY(-50%);
                    border: 1px solid $pseudoColor;
                    border-radius: 35px;
                    width: 35px;
                    height: 35px;

                    @media (max-width: 568px) {
                        width: 25px;
                        height: 25px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 1%;
                    transform: translateY(-50%);
                    border: 1px solid $pseudoColor;
                    border-radius: 13px;
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}